.card{
  width: 400px;
  /* height: 600px; */
  border-color: 1px solid #333;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  font-family: sans-serif;
  page: center;
  background: #0f1e2ed5;
  /* background-image: linear-gradient(315deg, #f0f0f0 0%, #ffffff 74%); */
  border-style: groove 5px;
  transform: scale(0.9);
  

}
.card h1{
  
    font-weight: bolder;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    text-shadow: 2px 2px 5px #333;
    margin: 0%;
   
}

.left{
  float: left;
  size: 50%;
}
.container{
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: transparent; */
  padding: 20px;
  /* border-radius: 10px; */
  /* width: 60vh; */
  /* height: 65.7vh; */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  /* border-color: black; */
  /* border-style: groove; */
  margin: 0;
}
.card h1{
  /* font-size: 4rem; */
  font-weight: bold;
  color:rgb(238, 230, 230);
  text-shadow: #333;
}
.card h2{
  /* font-size: 2rem; */
  font-weight: bold;
  color: #e7e5e5;
}
.card p{
  /* font-size: 1.2rem; */
  color: #f3f0ea;
  letter-spacing: 0px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #dde5eb;
  justify-content: baseline;
  padding: 10px 0;
  place-content: bottom;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 0%;
  font-size: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  width: 100%;
}
.image-container{
 position: relative;
  width: 400px;
  height: 1000px;
  overflow: hidden;
 border: black;


}
.button-login{
  width: 95%;
  padding: 0.5rem;
  background-color: #0f1e2e;
  color: #f0a500;
  border: 2px solid #f0a500;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.button-login:hover{
 background-color: #123f5e;
}
.image-container img{
width: 100%;
height: 100%;
object-fit: cover;
filter: blur(5px);
border-style: groove;
border-color: black;
}
.form-group{
margin: 0;
margin-left: 0%;
padding: 0;
display: flex;
flex-direction: column;


}
.form-group :focus{
  /*width: 90%;*/
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  border-color: /*#3498db;*/ transparent;
  outline: none;
}
.Login-container{
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-image: url('../images/mukone.jpg')  ; 

}
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.right{
  margin: 0;
}

.form-group label{
  margin-top: 10px;
  margin-bottom: 0;
  color: #f0a500;
}

.form-group input{
  width: 380px;
}

#login-bttn{
text-align: center;
}

#maklogologin{
  width: 120px;
  margin: 0px;
  padding: 0px;
}

.dupediv{
  height:100px;
}
.password-toggle-button{
  position: absolute;
  right: 5px;
  top:60%;
  bottom: 70%;
  transform:translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.password-toggle-button :focus{
  position: absolute;
  right: 10px;
  top:50%;
  bottom: 50%;
  transform:translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 0;
  border-color: transparent;
}
.password-input-container{
  position: relative;
}
