.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  background-image: url(../../public/images/studentwallpaper.jpg);
}

.auth-card {
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-card input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.auth-card button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
.password-toggle-button{
  position: absolute;
  right: 5px;
  top:42%;
  bottom: 60%;
  transform:translateY(-85%)  ;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-top: 0.1px;
  border: none;
  color: #0f1e2e;
}
