/* Layout */
.student-issue-report-container {
  max-width: 750px;
  margin: 50px auto;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url(../../public/images/enrollmentwallpaper.jpg);
  margin-left: 320px;
}
.student-issue-report-title {
  
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.student-issue-report-content {
  max-width: 750px;
  margin: 0px;
  height: fit-content;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(161, 159, 159, 0.59);
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
}

/* Adjust content when sidebar is closed */
.sidebar.closed + .student-issue-report-content {
  margin-left: 0;
}

/* Form Styling */
.student-issue-report-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /*max-width: 750px;*/
  margin-top: 20px;
  height: fit-content;
}
.student-issue-report-form2{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /*max-width: 750px;*/
  margin-top: 20px;
  height: 250px;
  width: 96%;
}

.student-issue-report-form-group input {
  margin-bottom: 15px;
  width:96%;
  padding: 5px;
}
.student-issue-report-form input {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.student-issue-report-course-input {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.student-issue-report-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  width: 96%;
}

.student-issue-report-textarea {
  width: 96%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
 resize: none;
}

/* Tag Selection 
.student-issue-report-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;*
}*/

.student-issue-report-tag-button {
  background: #ddd;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
  width: 22%;
  height: 43px;
  
}

.student-issue-report-tag-button.selected {
  background: #007bff;
  color: white;
}

/*.student-issue-report-custom-tag-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

/* Submit Button */
.student-issue-report-submit-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 96%;
}

.student-issue-report-submit-button:hover {
  background: #0056b3;
}
.attachment {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 96%;
}

/* Responsive Adjustments */
/*@media screen and (max-width: 768px) {
  .student-issue-report-content {
    margin-left: 0;
  }
}*/
body{
  background-image: url(../../public/images/studentwallpaper.jpg);
}