/*Styling for the student dashboard page*/
.dashboard-container{
  width: auto;
  height:max-content;
  background-color: aqua;

}

.top-bar{
width: auto;
background-color: white;
text-align: right;


}

.notifications{
  color: #000;

}
.nav{
  
  text-align: center;
}
.sidebar{
  column-width: 100%;
  text-align: right;
  background-color:grey;
}
.main-content{
  font-family: 'Times New Roman', Times, serif;

}
.welcome_card{
  background-color:white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.welcome_card h2{
  font-size: x-large;
  font-weight: bold;

}
.welcome_card p{
  color: gray;

}
.welcome_card icon{
  font-size: x-large;
  color: blue;
  size: 20px;
 
}
.logo{
  size:5px;

}
.profile{

  font-family: 'Times New Roman', Times, serif;
}

.icon{
  size: 70px;

}
.submit-section{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: underline darkgreen;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.issues_table{
  font-size: large;

}
.dashboard-buttons{
  background-color: white;
  font-size: xx-large;

}
.btn{
  font-weight: bolder;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  border: 0px solid rgb(1, 1, 29);
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-spacing: 60px;
 

}
.btn:hover{
  text-decoration:none ;
  font-weight: bold;
  color:rgb(21, 5, 170);
  padding: 10px 20px;
  border: none;
  display: inline-block;
  background-color: rgb(14, 164, 62);
  color: white ;
}