/* .view-issues-container {
  padding: 2rem;
  
}

.issues-table {
  margin-left: 300px;
  width: 850px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.issues-table th,
.issues-table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  text-align: left;
}

.issues-table th {
  background-color: #f0a500;
  color: white;
} */
